<div class="header-style shadow-box">
  <mat-toolbar color="primary" class="header-layout">
    <div style="flex: 1">
      <button mat-icon-button aria-label="Home" class="header-image"></button>
    </div>
    <div style="flex: 2">
      <p class="mat-headline-4 header-title shadow-text">Simple Recipt Manager</p>
    </div>
    <div style="flex: 1">
      <button mat-icon-button aria-label="Search List" class="header-search">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
