<div class="control-group-layout">
  <!--TODO Click - button to delete next to the table-->
  <button mat-raised-button color="warn" class="btn-style">DELETE</button>
  <button
    mat-raised-button
    (click)="openManuelAddDialog('0ms', '0ms')"
    color="primary"
    class="btn-style"
  >
    ADD
  </button>
  <button
    mat-raised-button
    color="primary"
    class="btn-style"
    (click)="openUploadDialog('0ms', '0ms')"
  >
    UPLOAD
  </button>
  <button mat-raised-button color="primary" class="btn-style">EXPORT</button>
</div>
