<div class="control-group-layout">
  <!--TODO Click - button to delete next to the table-->
  <button mat-raised-button color="warn" class="btn-style">Delete</button>
  <button
    mat-raised-button
    (click)="openDialog('0ms', '0ms')"
    color="primary"
    class="btn-style"
  >
    Add
  </button>
  <input
    #imageInput
    hidden="true"
    type="file"
    onclick="this.value=null"
    (change)="imageInputChange($event)"
    accept=".png"
  />
  <button
    mat-flat-button
    color="primary"
    class="btn-style"
    (click)="imageInput.click()"
  >
    UPLOAD
  </button>
  <button mat-raised-button color="primary" class="btn-style">Export</button>
</div>
