@import "../../../styles.scss";

.image-viewer-card-style {
  margin: 16px 16px 16px 16px;
  overflow: hidden;
}

.image-viewer-footer {
  margin: 16px 0px 16px 0px;
  width: 100%;
  display: flex;
}

.image-viewer-image {
  max-width: "100%";
  max-height: calc(100vh - 200px);
  overflow: hidden;
  object-fit: cover;
}

.image-viewer-btn {
  margin: 0px 16px 16px 16px;
  justify-content: center;
}
