<div>
  <mat-stepper linear #stepper>
    <mat-step
      *ngFor="let group of formGroups; index as idx"
      [stepControl]="group"
      [editable]="true"
    >
      <form [formGroup]="group">
        <mat-tab-group>
          <mat-tab label="SUMMARY">
            <form class="tab-container-style">
              <div class="flex-container-column">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Merchant Name</mat-label>
                  <input
                    matInput
                    placeholder="Ex. Costco"
                    [(ngModel)]="
                      result['files'][idx]['receipt']['merchant_name']
                    "
                    name="merchant_name"
                  />
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Merchant Address</mat-label>
                  <input
                    matInput
                    placeholder="Ex. 8 Chifley Dr, Moorabbin Airport VIC 3194"
                  />
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Merchant Phone</mat-label>
                  <input
                    matInput
                    placeholder="Ex. (03)9552 7700"
                    [(ngModel)]="
                      result['files'][idx]['receipt']['merchant_phone']
                    "
                    name="merchant_phone"
                  />
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Recipt No.</mat-label>
                  <input
                    matInput
                    placeholder="Ex. 1234567"
                    [(ngModel)]="result['files'][idx]['receipt']['receipt_no']"
                    name="receipt_no"
                  />
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Date</mat-label>
                  <input
                    matInput
                    placeholder="Ex. 21/03/2022"
                    [(ngModel)]="result['files'][idx]['receipt']['date']"
                    name="date"
                  />
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Time</mat-label>
                  <input
                    matInput
                    placeholder="Ex. 23:01"
                    [(ngModel)]="result['files'][idx]['receipt']['time']"
                    name="time"
                  />
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Total</mat-label>
                  <input
                    matInput
                    placeholder="Ex. 21.01"
                    [(ngModel)]="result['files'][idx]['receipt']['total']"
                    name="total"
                  />
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Payment Method</mat-label>
                  <input
                    matInput
                    placeholder="Ex. CARD"
                    [(ngModel)]="
                      result['files'][idx]['receipt']['payment_method']
                    "
                    name="payment_method"
                  />
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>OCR Confidence</mat-label>
                  <input matInput disabled placeholder="TODO" />
                </mat-form-field>
                <mat-form-field
                  class="example-chip-list full-width"
                  appearance="fill"
                >
                  <mat-label>Payer</mat-label>
                  <mat-chip-grid #chipGrid aria-label="Payer selection">
                    <mat-chip-row
                      *ngFor="let fruit of fruits"
                      (removed)="remove(fruit)"
                    >
                      {{ fruit }}
                      <button
                        matChipRemove
                        [attr.aria-label]="'remove ' + fruit"
                      >
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  </mat-chip-grid>
                  <input
                    placeholder="New Fruit..."
                    #fruitInput
                    [formControl]="fruitCtrl"
                    [matChipInputFor]="chipGrid"
                    [matAutocomplete]="auto"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)"
                  />
                  <mat-autocomplete
                    #auto="matAutocomplete"
                    (optionSelected)="selected($event)"
                  >
                    <mat-option
                      *ngFor="let fruit of filteredFruits | async"
                      [value]="fruit"
                    >
                      {{ fruit }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Share With</mat-label>
                  <input matInput placeholder="Ex. Same With The Above Style" />
                </mat-form-field>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="OCR TEXT"> OCR TEXT </mat-tab>
          <mat-tab label="FULL JSON"> FULL JSON </mat-tab>
          <mat-tab label="IMAGE"> IMAGE </mat-tab>
        </mat-tab-group>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
