<div class="navbar-placeholder"></div>

<div class="navbar-style navbar-layout shadow-box">
  <form [formGroup]="stateForm">
    <mat-form-field appearance="fill" class="navbar-search-style">
      <!-- TODO
        Only show searched group, show all group if blank.
      -->
      <mat-label>Search Groups</mat-label>
      <input
        type="text"
        matInput
        formControlName="stateGroup"
        [matAutocomplete]="autoGroup"
      />

      <!-- SEARCH -->
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup
          *ngFor="let group of stateGroupOptions | async"
          [label]="group.letter"
        >
          <mat-option *ngFor="let name of group.names" [value]="name">
            {{ name }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <!-- New Group -->
  <button
    mat-button
    (click)="openNewGroupDialog('0ms', '0ms')"
    class="navbar-newgp-style mat-h4"
  >
    + New Group
  </button>

  <!-- RECIPT GROUP ITEMS -->
  <!--
    <mat-nav-list>
        <mat-list-item *ngFor="let link of links" [activated]="link.isActive">
            <a matListItemTitle href="...">{{ link }}</a>
            <button mat-icon-button (click)="showInfo(link)" matListItemMeta>
                <mat-icon>info</mat-icon>
            </button>
        </mat-list-item>
    </mat-nav-list>
  -->
  <div class="navbar-recipt-groups-viewer">
    <mat-selection-list #group [multiple]="false">
      <mat-list-option
        *ngFor="let record of groupInfo.records"
        [value]="record.name"
        [routerLink]="['/groups/', record.id]"
      >
        <a matListItemTitle>{{ record.name }}</a>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <mat-divider></mat-divider>

  <!-- FOOTER GROUP ITEMS -->
  <mat-nav-list>
    <mat-list-item *ngFor="let group of footerGroups">
      <div class="navbar-item-style">
        <mat-icon
          aria-hidden="false"
          aria-label="Account Box"
          class="navbar-item-icon-style"
          >account_box</mat-icon
        >
        <span>
          {{ group }}
        </span>
      </div>
    </mat-list-item>
  </mat-nav-list>
  <mat-divider></mat-divider>

  <!-- FOOTER -->
  <div class="navbar-footer-style">
    <span align class="mat-h4 navbar-footer-text-style">@ Copy Right</span>
  </div>
</div>
