.group-viewer-layout {
  margin: 32px;
  height: 100%;
}

.group-viewer-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 16px 0px 16px;
}

.group-title-style {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 32px 0px 32px 0px;
}

.more-vert-style {
  color: gray;
}
