<h1 mat-dialog-title class="dialog-title">Receipt Record Editor</h1>
<div mat-dialog-content class="dialog-content-body">
  <mat-stepper [linear]="true" #stepper [animationDuration]="animateDuration">
    <mat-step [stepControl]="selectImageFormGroup">
      <div class="flex-container-column align-left">
        <label class="mat-display-1">Upload</label>
        <label class="mat-caption">Select files from your device</label>
      </div>
      <form [formGroup]="selectImageFormGroup">
        <ng-template matStepLabel>Select images to upload</ng-template>

        <mat-form-field>
          <div>
            <mat-toolbar>
              <!-- Create a div for image pending section -->
              <input matInput [value]="'Select Images'" />
            </mat-toolbar>

            <input
              type="file"
              id="fileInput"
              name="fileInput"
              accept="image/*"
              multiple
              (change)="selectFiles($event)"
            />
          </div>
        </mat-form-field>

        <!-- Image Preview -->
        <div>
          <img
            *ngFor="let preview of previews"
            [src]="preview"
            class="preview"
          />
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            class="btn-style"
            [disabled]="!(validFilesCount! > 0)"
            (click)="uploadFiles()"
            matStepperNext
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="processImageFormGroup" label="Processing">
      <form [formGroup]="processImageFormGroup">
        <!-- Wait until the parse progress is finish from backend -->
        <!-- Upload Status -->
        <div *ngFor="let progressInfo of progressInfos">
          <span>{{ progressInfo.fileName }}</span>
          <mat-toolbar class="progress-bar">
            <mat-progress-bar
              color="primary"
              [value]="progressInfo.value"
            ></mat-progress-bar>
            <span class="progress">{{ progressInfo.value }}%</span>
          </mat-toolbar>
        </div>
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> File Upload Status </mat-panel-title>
              <mat-panel-description>
                Currently I am {{ panelOpenState ? "open" : "closed" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="message.length" class="message">
              <ul *ngFor="let msg of message; let i = index">
                <li>{{ msg }}</li>
              </ul>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <div>
          <button
            mat-raised-button
            color="basic"
            class="btn-style"
            matStepperPrevious
          >
            Back
          </button>
          <button
            mat-raised-button
            color="primary"
            class="btn-style"
            matStepperNext
            [disabled]="!isSecondStepAvaliable"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finialize</ng-template>
      <!-- User edit the parsed output -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <!-- User edit the parsed output -->
      <div>
        <!-- Display done and a snackbar -->
      </div>
    </mat-step>
  </mat-stepper>
</div>
